body {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  max-width: 1024px;
}
img {
  border: solid black;
  width: 100%;
  height: auto;
}
.ma-class {
  height: 100vh;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
